<h3 class="box"> Add a Sibling </h3>

<form method="post" action="/children/new">
  
  <p>child's name:</p>
  <input type="text" name="child"></br>
  <br>

  <p>child's age:</p>
  <input type="integer" name="childs_age">
  <br>
  <br>

  <small>Gender</small>
  <% genders = ["male", "female"] %>
  
  <% genders.each do |gender| %>
    <small><%=gender%></small>
    <input type="checkbox" value="<%=gender.to_s%>" name="gender">
 <%end%>
 <br>

  <input type="submit">
</form>