<div class="box">
  <h3>Playdates </h3>
</div>

<% if flash.has?(:message) %>
  <p><%= flash[:message] %></p></br>
<% end %>
<% if @playdates == nil %>
<p> There are no play dates scheduled </p>
<% else %>
<% @playdates.each do |playdate| %>
<% time = playdate.datetime.strftime("%b %e, %l:%M %p") %>
  <div class="playdate_index"><small><%=time%> - </small><a href="/playdates/<%=playdate.slug%>"> <%=playdate.name%></a></div>
</br>
  <%end%>
<%end%>

