<div class="box">
<h3>Create a New Playdate</h3>
</div>

<form method="post" action="/playdates/new">
  <p>Name:</p>
  <input type="text" name="name"></br>
  <p>Location: </p>
  <input type="text" name="location"></br>
  <p>Description:</p>
  <input type="text" name="description"></br>
  <p>When:</p>
  <input type="text" id="datetimepicker" name="when" readonly ></br>
  <br>
  
<p> Select a child to add to the play date! </p>

<% @parent.children.uniq.each do |child| %>
  <small><%=child.name%> </small> <input type="checkbox" value="<%child.name%>" name="child">
  <input type="hidden" name="children[][child_id]" value="<%=child.id %>">
<%end%>
<br>

<input id="submit-button-left" type="submit">
</form>

