<h3 class="box"> Parent Login </h3>
<form method="post" action="/login">
  <p>Email:</p>
  <input type="text" name="email" id="login">
  <p>Password:</p>
  <input type="password" name="password" id="login">
  <input type="submit" value="submit" id="login">
</br>
  <% if flash.has?(:message) %>
  <%= flash[:message] %></br>
<% end %></br>
</form>
