<div class="box">
  <h3> <%=@parent.name%> </h3>
</div>
<p>email: <%=@parent.email%></p>
<div class="bottom_border">
<h3>Children:</p>
</div>
<%@parent.children.uniq.each do |child| %>
   <p><a href="/children/<%=child.slug%>"> <%=child.name%> </a></p>
<%end%>
 