<h3 class="box">Autumn's Playdate Sign Up</h3>
<form method="post" action="/parents/signup">
  <p>first name:</p>
  <input type="text" name="first_name">
  <p>last name:</p>
  <input type="text" name="last_name">
  <p>email:</p>
  <input type="text" name="email">
  <p>password:</p>
  <input type="password" name="password">
  <p>child's name:</p>
  <input type="text" name="child">
  <p>child's age:</p>
  <input type="integer" name="childs_age">
  <p>gender</p>
  <% genders = ["male", "female"] %>
  <% genders.each do |gender| %>
    <small><%=gender%></small>
    <input type="checkbox" value="<%=gender.to_s%>" name="gender">
 <%end%>
 </br>
<input id="submit-button-left" type="submit"> 
</form>

 