<h1>Autumn's Playdate Sign Up</h1>

<form method="post" action="/parents/signup">
  name:<input type="text" name="username"></br>
  email:<input type="text" name="email"></br>
  child's name:<input type="text" name="children[:"></br>
  <input type="submit">
</form>
