<h1>Autumn's Playdate Sign Up</h1>

<form method="post" action="/parents/signup">
  name:<input type="text" name="name"></br>
  email:<input type="text" name="email"></br>
  password:<input type="password" name="password"></br>
  child's name:<input type="text" name="child"></br>
  <input type="submit">
</form>
 