<h1>Autumn's Playdate Sign Up</h1>

<form method="post" action="/parents/signup">
  first name:<input type="text" name="first_name"></br>
  last name:<input type="text" name="last_name"></br>
  email:<input type="text" name="email"></br>
  password:<input type="password" name="password"></br>
  child's name:<input type="text" name="child"></br>
  child's age:<input type="integer" name="childs_age"></br>
  gender</br>
  <% genders = ["male", "female"] %>
  <% genders.each do |gender| %>
  <%=gender%>
 <input type="checkbox" value="<%=gender.to_s%>" name="gender">
 <%end%>
  <input type="submit">
</form>
 