<div class="box">
<h1>Welcome to Autumn's Play Date</h1>
</div>

<a href="/sessions/signup"> Create a new account</a></br>
<a href="/sessions/login"> Parent Login </a>
<br>
<br>
<a href="/about"> About Autumn's Play Date </a>




