<div class="box">
<h3>Choose a Location or Create a New One!</h3>
</div>

<% Location.all.each do |location| %>
  <p><a href="/locations/<%=location.slug%>"> <%=location.name%></a></p>
<%end%>
<br>

<a href="/locations/new">Create a New Location</a>
