<h1>Create a New Location</h1>
<form method="post" location="/location/new">
  <p>Location Name:</p>
  <input type="text" name="name">
  <br>
  <br>
  <p>Location address:</p>
  <input type="text" name="address">
  <input type="submit" name="submit">
</form>